{% comment %}
  Volume Pricing Banner for Collection Pages
  Displays tiered pricing message when pricing_mode is 'tiered'
{% endcomment %}

{%- if settings.pricing_mode == 'tiered' -%}
  {%- liquid
    assign savings_2 = settings.tier_retail_price | minus: settings.tier_2_price | times: 2
    assign savings_3 = settings.tier_retail_price | minus: settings.tier_3_price | times: 3
  -%}
  <div class="volume-pricing-banner">
    <div class="volume-pricing-banner__content page-width">
      <span class="volume-pricing-banner__text">
        <span class="volume-pricing-banner__line1">💰 Buy 2 hoodies, save ${{ savings_2 }}. Buy 3+, save ${{ savings_3 }}+.</span>
        <span class="volume-pricing-banner__shipping">Free shipping at ${{ settings.free_shipping_threshold }}!</span>
      </span>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Volume Pricing Banner",
  "tag": "section",
  "class": "volume-pricing-banner-section",
  "enabled_on": {
    "templates": ["collection"]
  },
  "settings": []
}
{% endschema %}
