/* Narrow content width for sections that need it (FAQ, brand story, etc.) */
@media screen and (min-width: 750px) {
  .section-narrow {
    max-width: 900px;
    margin-inline: auto;
    width: 100%;
  }
}
